x-shared-env: &shared-env
  PYTHONUNBUFFERED: 1
  INDEX_BASE_PATH: /mnt/infinigram-array
  ATTRIBUTION_QUEUE_URL: postgres://infini-gram:llmz@queue:5432/infini-gram?sslmode=disable&application_name=infini-gram-attribution-worker
  PYTHON_ENV: development

services:
  api:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./api/Dockerfile
      target: dev
    volumes:
      - ./api:/app/api
      # If you add an volume here make sure you add it to /bin/download-infini-gram-array.sh too
      - ./infinigram-array/v4_pileval_llama:/mnt/infinigram-array/v4_pileval_llama
      - ./infinigram-array/olmoe-mix-0924-dclm:/mnt/infinigram-array/olmoe-mix-0924-dclm
      - ./infinigram-array/olmoe-mix-0924-nodclm:/mnt/infinigram-array/olmoe-mix-0924-nodclm
      - ./infinigram-array/v4-olmoe-0125-1b-7b-anneal-adapt:/mnt/infinigram-array/v4-olmoe-0125-1b-7b-anneal-adapt
      - ./infinigram-array/v4-olmo-2-1124-13b-anneal-adapt:/mnt/infinigram-array/v4-olmo-2-1124-13b-anneal-adapt
      - ./infinigram-array/v4-olmo-2-0325-32b-anneal-adapt:/mnt/infinigram-array/v4-olmo-2-0325-32b-anneal-adapt
    environment: 
      LOG_LEVEL: DEBUG
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otelcol:4318
      CACHE_URL: redis://cache:6379
      <<: *shared-env

  attribution-worker:
    platform: linux/amd64
    ports: 
      - 8081:8080
    build:
      context: .
      dockerfile: ./attribution_worker/Dockerfile
      target: dev
    volumes:
      - ./attribution_worker:/app/attribution_worker
      # If you add an volume here make sure you add it to /bin/download-infini-gram-array.sh too
      - ./infinigram-array/v4_pileval_llama:/mnt/infinigram-array/v4_pileval_llama
      - ./infinigram-array/olmoe-mix-0924-dclm:/mnt/infinigram-array/olmoe-mix-0924-dclm
      - ./infinigram-array/olmoe-mix-0924-nodclm:/mnt/infinigram-array/olmoe-mix-0924-nodclm
      - ./infinigram-array/v4-olmoe-0125-1b-7b-anneal-adapt:/mnt/infinigram-array/v4-olmoe-0125-1b-7b-anneal-adapt
      - ./infinigram-array/v4-olmo-2-1124-13b-anneal-adapt:/mnt/infinigram-array/v4-olmo-2-1124-13b-anneal-adapt
      - ./infinigram-array/v4-olmo-2-0325-32b-anneal-adapt:/mnt/infinigram-array/v4-olmo-2-0325-32b-anneal-adapt
    environment: *shared-env

  proxy:
    build: ./proxy
    ports:
      - 8080:8080
    depends_on:
      - api

  otelcol:
    image: otel/opentelemetry-collector-contrib:0.115.1
    volumes:
      - ./otel-collector/otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml:ro
      - logs:/var/log:ro
    environment:
      - GOOGLE_CLOUD_PROJECT
      - GOOGLE_CLOUD_QUOTA_PROJECT
    ports:
      # Collector prometheus port. The metrics are checked in tests
      - 8888

  queue:
    image: postgres:15
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: llmz
      POSTGRES_DB: infini-gram
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./schema:/docker-entrypoint-initdb.d

  cache:
    image: redis:7
    ports:
      - 6379:6379

volumes:
  logs:
  pgdata: