name: Lint and type-check PR

concurrency:
    group: unit-${{ github.ref }}
    cancel-in-progress: true

on: 
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest 
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.6.8"
        enable-cache: true

    - uses: actions/setup-python@v5
      with:
       python-version-file: "./api/pyproject.toml"

    - run: uv sync --all-extras --dev --all-packages
    - run: uv run ruff check ./api

  type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.6.8"
        enable-cache: true

    - uses: actions/setup-python@v5
      with:
       python-version-file: "pyproject.toml"

    - run: uv sync --all-extras --dev --all-packages
    - run: uv run mypy --config ./api/pyproject.toml
